
body{
  background: #eee;
}

main{
  background: #fff;
  padding: 10px 0 0;
}

.mainHINA {
  width: 100%;
  height: 30vh;
}
.mainHINA .backBtn {
  position: fixed;
  left: 15px;
  width: 14px;
  height: 28px;
  background-image: url(../img/backBtn.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainHINA .HINA {
  width: 200px;
  height: 200px;
  margin: 0px auto 50px;
  background-image: url(../img/HINA.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.productText {
  width: 100%;
  height: 64vh;
  padding: 0 45px;
}
.productText .productTitle {
  font: caption;
  font-size: 1.6rem;
  margin: 0 0 16px;
}
.productText .price {
  display: flex;
  padding: 0 0 16px;
  font-size: 1.2rem;
}
.productText .price .one {
  align-items: flex-end;
  bottom: 0;
  color: #000000;
  opacity: 0.33;
  font-size: 0.5rem;
  padding: 6px 20px 0;
}
.productText .Category {
  color: #5ABAFF;
  font-size: 0.6rem;
  margin: 18px 0;
}
.productText .reviewItems {
  width: 100%;
  height: 8vh;
  display: flex;
  margin: 10px 0;
}
.productText .reviewItems .good {
  width: 32px;
  height: 29px;
  background-image: url(../img/good.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 10px 0 0;
}
.productText .reviewItems .comment {
  width: 32px;
  height: 30px;
  background-image: url(../img/comment.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.productText .detail {
  padding: 0 10px;
}
.productText .detail .two {
  margin: 0 0 14px;
  font-size: 0.8rem;
}
.productText .detail .three {
  margin: 0 0 7px;
  font-size: 0.9rem;
}
.productText .detail .time {
  display: flex;
}
.productText .detail .time .timeImg {
  width: 16px;
  height: 16px;
  background-image: url(../img/time.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.productText .detail .time p {
  color: #000000;
  opacity: 0.33;
  font-size: 0.7rem;
  padding: 0 5px 0;
}

.rental {
  width: 100%;
  height: 180px;
}
.rental a {
  display: block;
  width: 60%;
  height: 50px;
  line-height: 50px;
  background-color: #90BD31;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  margin: auto;
}

@media screen and (min-width: 391px) {
  body{
    width: 390px;
    height: 844px;
    margin: auto;
  }
}
